<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Void</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
        <header>
      <nav class="navbar">
        <div class="right_navbar text-white">
        <img src="/assets/Void Society logo.svg" alt="" class="logo_png"/>
          <a href="/" class="contact text-white">Contact us</a>
        </div>
        <div class="logo"></div>
        <div class="elements_navbar">
          <a href="/index.html" class="home no-underline">Home</a>
          <a href="/" class="resources">Resources</a>
          <a href="/" class="about">About</a>
        </div>
      </nav>
    </header>

    <div class="kali_svg_div">
        <img src="/assets/Kali_svg.svg" alt="" class="kali_svg">
    </div>
    <div class="spotlight">
        <img class="spotlight-svg-top" src="/assets/0f9e183a12bee7af6da9f9a175c71d3a.svg" alt="">
        <img class="spotlight-svg-bottom" src="/assets/e4c3a7bd600393b1420b0ffef056534d.svg" alt="">
        <div class="spotlight_chupao"></div>
    </div>
    <div class="about_us bg-[#f5f5f6] text-black width-full h-[240px] flex justify-center items-center text-2xl font-poppins ">
        <p class="about_element">Join the Centre of Excellence for Cybersecurity and uncover the truth about security.</p>
    </div>
    <div class="about_members width-full bg-black">
      <div class="members">
        <div class="president">
        
        </div>
        <div class="vice_president"></div>
        <div class="technical_head"></div>
        <div class="Core"></div>
      </div>
    </div>
    <script src="/script.js"></script>
</body>
</html>